/init-R.el
/init-google-translate.el
/init-latex.el
/init-matlab.el
/init-org.el
/init-w3m.el
/extensions/org/
/extension/cedet-1.1
/extensions/cedet-1.1
/extensions/bbdb
/extensions/matlab-emacs/
/init-latex.org~
/init-matlab.el~
/auto-save-list/.saves-2217-chris-wk~
/auto-save-list/.saves-2403-chris-wk~
/extensions/ess-R-object-tooltip.el~
/init-google-translate.org~
/ltxpng/
