/init-R.el
/init-google-translate.el
/init-latex.el
/init-matlab.el
/init-org.el
/init-w3m.el
/init-ac.el
/init-config.el
/init-gnus.el
/init-latex.org~
/init-matlab.el~
/auto-save-list/.saves-2217-chris-wk~
/auto-save-list/.saves-2403-chris-wk~
/extensions/ess-R-object-tooltip.el~
/init-google-translate.org~
/ltxpng/
/extensions/yasnippet/snippets/latex-mode/.yas-parents~
/extensions/yasnippet/snippets/latex-mode/Al.yasnippet~
/extensions/yasnippet/snippets/latex-mode/Equ.yasnippet~
/extensions/yasnippet/snippets/latex-mode/al.yasnippet~
/extensions/yasnippet/snippets/latex-mode/dots.yasnippet~
/extensions/yasnippet/snippets/latex-mode/lim_under~
/extensions/yasnippet/snippets/latex-mode/new_line.yasnippet~
/extensions/yasnippet/snippets/org-mode/brackets.yasnippet~
/extensions/yasnippet_own_snippets/latex-mode/.yas-parents~
/extensions/yasnippet_own_snippets/latex-mode/Al.yasnippet~
/extensions/yasnippet_own_snippets/latex-mode/Equ.yasnippet~
/extensions/yasnippet_own_snippets/latex-mode/al.yasnippet~
/extensions/yasnippet_own_snippets/latex-mode/dots.yasnippet~
/extensions/yasnippet_own_snippets/latex-mode/new_line.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/brackets.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/subindex.yasnippet~

