/init-R.el
/init-google-translate.el
/init-latex.el
/init-matlab.el
/init-org.el
/init-w3m.el
/init-ac.el
/init-config.el
/init-gnus.el
/init-latex.org~
/init-matlab.el~
/auto-save-list/.saves-2217-chris-wk~
/auto-save-list/.saves-2403-chris-wk~
/auto-save-list/*~
/extensions/ess-R-object-tooltip.el~
/init-google-translate.org~
/ltxpng/
/extensions/yasnippet/snippets/latex-mode/.yas-parents~
/extensions/yasnippet/snippets/latex-mode/Al.yasnippet~
/extensions/yasnippet/snippets/latex-mode/Equ.yasnippet~
/extensions/yasnippet/snippets/latex-mode/al.yasnippet~
/extensions/yasnippet/snippets/latex-mode/dots.yasnippet~
/extensions/yasnippet/snippets/latex-mode/lim_under~
/extensions/yasnippet/snippets/latex-mode/new_line.yasnippet~
/extensions/yasnippet/snippets/org-mode/brackets.yasnippet~
/extensions/yasnippet_own_snippets/latex-mode/.yas-parents~
/extensions/yasnippet_own_snippets/latex-mode/Al.yasnippet~
/extensions/yasnippet_own_snippets/latex-mode/Equ.yasnippet~
/extensions/yasnippet_own_snippets/latex-mode/al.yasnippet~
/extensions/yasnippet_own_snippets/latex-mode/dots.yasnippet~
/extensions/yasnippet_own_snippets/latex-mode/new_line.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/brackets.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/subindex.yasnippet~

/extensions/org
/extensions/yasnippet_own_snippets/org-mode/U1t.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/X1t.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/Xit.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/Y1t.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/Y2t.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/al_newline.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/u1t.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/u2t.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/x1t.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/xit.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/y1t.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/y2t.yasnippet~

extensions/auctex-11.87
/init-all.el
/init-all.org~
/extensions/yasnippet_own_snippets/org-mode/U2.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/u1.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/u2.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/x1.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/x2.yasnippet~

/extensions/org-mode/
/auto-save-list/.saves-10593-chris-lpt~
/auto-save-list/.saves-15948-chris-lpt~
/auto-save-list/.saves-16054-chris-lpt~
/auto-save-list/.saves-2165-chris-lpt~
/auto-save-list/.saves-2171-chris-lpt~
/auto-save-list/.saves-2225-chris-lpt~
/auto-save-list/.saves-2230-chris-lpt~
/auto-save-list/.saves-2232-chris-lpt~
/auto-save-list/.saves-2234-chris-lpt~
/auto-save-list/.saves-2237-chris-lpt~
/auto-save-list/.saves-2252-chris-lpt~
/auto-save-list/.saves-2259-chris-lpt~
/auto-save-list/.saves-2269-chris-lpt~
/auto-save-list/.saves-2285-chris-lpt~
/auto-save-list/.saves-2334-chris-lpt~
/auto-save-list/.saves-2336-chris-lpt~
/auto-save-list/.saves-2342-chris-lpt~
/auto-save-list/.saves-2343-chris-lpt~
/auto-save-list/.saves-2364-chris-lpt~
/auto-save-list/.saves-2369-chris-lpt~
/auto-save-list/.saves-2391-chris-lpt~
/auto-save-list/.saves-2416-chris-lpt~
/auto-save-list/.saves-2432-chris-lpt~
/auto-save-list/.saves-2436-chris-lpt~
/auto-save-list/.saves-2470-chris-lpt~
/auto-save-list/.saves-2500-chris-lpt~
/auto-save-list/.saves-2660-chris-lpt~
/auto-save-list/.saves-27904-chris-lpt~
/auto-save-list/.saves-2850-chris-lpt~
/auto-save-list/.saves-29194-chris-lpt~
/auto-save-list/.saves-30125-chris-lpt~
/auto-save-list/.saves-3490-chris-lpt~
/auto-save-list/.saves-3579-chris-lpt~
/auto-save-list/.saves-3812-chris-lpt~
/auto-save-list/.saves-4121-chris-lpt~
/auto-save-list/.saves-4184-chris-lpt~
/auto-save-list/.saves-4350-chris-lpt~
/auto-save-list/.saves-4643-chris-lpt~
/auto-save-list/.saves-4755-chris-lpt~
/auto-save-list/.saves-5134-chris-lpt~
/auto-save-list/.saves-5659-chris-lpt~
/auto-save-list/.saves-5729-chris-lpt~
/auto-save-list/.saves-5892-chris-lpt~
/auto-save-list/.saves-6118-chris-lpt~
/auto-save-list/.saves-7700-chris-lpt~
/extensions/yasnippet_own_snippets/org-mode/s_r_graphics.yasnippet~
/extensions/metaweblog.el~
/extensions/yasnippet_own_snippets/org-mode/figh.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/newplot.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/overset.yasnippet~
/extensions/yasnippet_own_snippets/org-mode/underset_eq.yasnippet~
elpa
/bookmarks
/ac-comphist.dat
/.org-id-locations
/tramp
/eshell/
/session.10fcd85b3c9657fc08140799755287822000000018460048
/url/
